<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.join.ezhaohui.mapper.PicMapper" >
    <select id="getAll" resultType="com.join.ezhaohui.entity.Pic"  >
        SELECT *
        FROM t_pic
        order by rank
    </select>

    <insert id="insertPic" parameterType="com.join.ezhaohui.entity.Pic">
        insert into t_pic(url,cdesc,pic_url,rank)
        values (#{url},#{desc},#{pic_url},#{rank})
    </insert>

    <delete id="deletePic">
        delete
        from t_pic
        where id = #{id}
    </delete>

    <select id="rankExist" resultType="com.join.ezhaohui.entity.Pic">
        select *
        from t_pic
        where rank = #{rank}
    </select>

    <update id="update" parameterType="com.join.ezhaohui.entity.Pic">
        update t_pic
        set url = #{url},rank = #{rank}
        where id = #{id}
    </update>

    <select id="selectById" resultType="com.join.ezhaohui.entity.Pic">
        select *
        from t_pic
        where id = #{id}
    </select>
    
    <update id="getByDelete">
        update t_pic
        set rank = rank-1
        where rank > #{rank}
    </update>
    
    <update id="getByUpdate">
        update t_pic
        set rank = rank +1
        where rank >= #{rank} and rank &lt; #{rank1}
    </update>

    <select id="getIdPre" resultType="java.lang.Integer">
        select auto_increment from information_schema.`TABLES`
        where table_name='t_pic'
    </select>
</mapper>